In [3]:
 x = "Python"
 y = True
 
 type(y)

bool

In [14]:
"Concating numbers"

z = x + str(1)
print(z)

Python1

In [10]:
"Adding Numbers"

a = 2456
b = 1000
c = a+b
print(c)

3456

In [12]:
"Complex Numbers"

xi = 1.0 -1.0j
type(xi)
print(xi.real, xi.imag)

1.0 -1.0

In [13]:
print(x,y,a,b,c,xi)

Python True 2456 1000 3456 (1-1j)

In [15]:
type(str("1"))

str

In [20]:
print(True and False)
print(True or False)

False
True

In [25]:
al = 7
bl = 12
cl = 17

if al > bl:
  if al > cl:
    print(al)
elif bl > cl:
  print(bl)
else:
  print(cl)

17

In [26]:
"Date Validation"

date_string = input("Enter the date : ")
print(date_string)

Enter the date : 12/09/2000
12/09/2000

In [102]:
split = input("Enter the split variable")
date_string = input("Enter the date : ")

date_var = date_string.split(split)

day_str = ""
month_str = ""
year_str = ""



#if int(date_var[0]) >0 and int(date_var[0]) < 31:
# day = "valid"
#  print("day valid")

day = int(date_var[0])
month = int(date_var[1])
year= int(date_var[2])

if (day % day ==0 and month % month == 0):
  if int(month) in [1,3,5,7,8,10,12]:
    month_str = "valid"
    if int(day) >0 and int(day) < 32:
      day_str = "valid"
      
if (day % day ==0) and (month % month == 0):
  if int(month) in [4,6,9,11]:
    month_str = "valid"
    if int(day) >0 and int(day) < 31:
      day = "valid"


if year % year ==0:
  year_str = "valid"
  
  if int(month) in [2]:
  # Leap Year Code Here
    if(year % 4) == 0:
      if(year % 100) == 0:
        if(year % 400) == 0:
          #Leap
          if int(day) >0 and int(day) < 30:
            month_str = "valid"
            day_str = "valid"
        else:
          if int(day) >0 and int(day) < 30:
            day_str = "valid"
            month_str = "valid"
      else:
       if int(day) >0 and int(day) < 30:
          day_str = "valid"
          month_str = "valid"
    else:
      if int(day) >0 and int(day) < 29:
        day_str = "not valid"

  
print("day-", day_str , "month -",month_str ,"year -", year_str)

## Final Checks :
if (day_str == "valid" and month_str == "valid" and year_str == "valid"):
  print("Date is a valid date")
else:
  print("NOT A VALID DATE")

Enter the split variable/
Enter the date : 12/12/2000
day- valid month - valid year - valid
Date is a valid date

In [106]:
## Assignment 1.1 ##

answer_lst = ""

for element in range(2000,3200):
  if element % 7 == 0:
    if element % 5 != 0:
      answer_lst=(answer_lst +", "+str(element))

print(answer_lst)

, 2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [101]:
## Assignment 1.2


def reverse_string(name):
  strr = ""
  dummy = list(name)
  for element in reversed(dummy):
    strr = strr + element
  return strr

first_name = input("Insert the first name of the person")
last_name = input("Insert the last name of the person")

print(reverse_string(first_name) + " " + reverse_string(last_name))

Insert the first name of the personAbhi
Insert the last name of the personSalvi
ihbA ivlaS

In [103]:
## Assignment 1.3

def vol_of_sphere(radius):
  pi = 3.14
  return((4/3)*pi*radius*radius*radius)

print(vol_of_sphere(12))

7234.559999999999

In [115]:
s = "Hello World"
s[:-1]
s[::1]

'Hello World'

In [118]:
s[::-1]

'dlroW olleH'